<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Config.plist
   PBTextArea

   Created by Pankaj Battise on 28/10/21.
   Copyright (c) 2021 Extentia. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
